.about {
    &__header {
        font-weight: 400;
        font-size: 50px;
        text-align: center;
        font-weight: 400;
        margin-bottom: 100px;
        &_color {
            background-image: linear-gradient(#b90160, #2e3192);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -moz-text-fill-color: transparent;
        }
    }
    &__card-block {
        height: 630px;
        display: flex;
        gap: 61px;
        justify-content: center;
        background-image: url("/img/about/bg.svg");
        background-repeat: no-repeat;
    }
    .card {
        &__container {
            box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);
            border-radius: 9px;
            background-color: white;
            transition: box-shadow .3s;
            &:hover{
                box-shadow: 0px 0px 40px 10px rgba(184, 0, 95, 0.575);
            }
        }
        &__image {
            width: 100%;
            height: 225px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 9px 9px 0 0;
        }
        &__text {
            &_header {
                font-weight: 700;
                font-size: 36px;
                padding: 22px;
            }
            &_description {
                width: 344px;
                padding: 0 22px 22px;
                font-size: 14px;
                line-height: 16px;
                color: #767676;
            }
        }
    }
}

.about {
    @media (max-width: 1410px) {
        &__card-block {
            flex-direction: column;
            padding: 0 87px 124px;
            height: 100%;
        }
        .card {
            &__text {
                &_header {
                    font-weight: 700;
                    font-size: 36px;
                    padding: 22px;
                }
                &_description {
                    width: auto;
                }
            }
        }
    }
    @media (max-width: 768px) {
        &__header {
            font-size: 40px;
        }
    }
    @media (max-width: 540px) {
        &__header {
            font-size: 20px;
            margin-bottom: 50px;
        }
        &__card-block {
            padding: 0 27px 103px;
        }
        .card {
            &__text {
                &_header {
                    font-size: 30px;
                }
            }
        }
    }
}
