.top-block{
    width: 100%;
    background-image: linear-gradient(102.59deg, #061321 6.09%, rgba(6, 19, 33, 0.68) 84.55%), url("../../public/img/main/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

