---
import "./description.scss";
import ok from "../../../public/img/tariff/ok.svg";
---

<section>
    <div class="description">
        <div class="container">
            <div
                class="row mx-auto col-12 col-md-10 text-center description__about"
            >
                <h4>Немного о нас</h4>
                <h2>Путь успеха — профессионализм</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Lorem mollis aliquam ut porttitor leo a diam
                    sollicitudin tempor. Placerat vestibulum lectus mauris
                    ultrices eros in cursus turpis massa.
                </p>
            </div>
            <div class="row  mx-auto description__card">
                <div class="description__card_image col-md-6 col-lg-7 col-xl-8"></div>
                <div class="description__card_text col-md-6 col-lg-5 col-xl-4">
                    <h3>Малый заголовок</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Lorem mollis aliquam ut porttitor leo a diam
                        sollicitudin tempor.
                    </p>
                    <h4>Заголовок преимуществ</h4>
                    <ul>
                        <li>
                            <img src={ok} alt="icon" />
                            <span>Преимущество номер один</span>
                        </li>
                        <li>
                            <img src={ok} alt="icon" />
                            <span>Преимущество номер два</span>
                        </li>
                        <li>
                            <img src={ok} alt="icon" />
                            <span>Преимущество номер три</span>
                        </li>
                        <li>
                            <img src={ok} alt="icon" />
                            <span>Преимущество номер четыре</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</section>
