<div class="row justify-content-center gap-3 mx-auto"  id="advantages">
    <div class="about__advantages-card col-9 col-sm-7 col-md-5">
        <h2>Надежный стальной портал</h2>
        <p>
            Полностью автоматическая и самостоятельно перемещающаяся моечная
            установка для автомобилей промышленного назначения MAGNUM оснащена
            прочно сваренным стальным порталом с полным цинкованием огнем для
            длительного срока эксплуатации.
        </p>
    </div>
    <div class="about__advantages-card col-9 col-sm-7 col-md-5">
        <h2>Оптимальное давление прижима щеток</h2>
        <p>
            Электронное управление моющими валиками (ПЛК) обеспечивает бережное
            и эффективное мытье с учетом контуров автомобиля.
        </p>
    </div>
    <div class="about__advantages-card col-9 col-sm-7 col-md-5">
        <h2>Ходовой механизм с низким полом для полного покрытия автомобиля</h2>
        <p>
            В стандартной комплектации все моечные установки для автомобилей
            промышленного назначения линейки MAGNUM оснащены нашим ходовым
            механизмом с низким полом. Это значит, что самостоятельно опускаемые
            автобусы с низким полом можно полностью мыть боковыми валиками.
            Расстояние между нижней кромкой вращающегося бокового валика и
            верней кромкой пола составляет всего 175 мм.
        </p>
    </div>
    <div class="about__advantages-card col-9 col-sm-7 col-md-5">
        <h2>Модульная система</h2>
        <p>
            Благодаря модульной системе, MAGNUM можно дополнять подходящей
            машинной оснасткой для любой сферы применения автомойки. Моечная
            установка для автомобилей промышленного назначения, оснащенная в
            стандартной комплектации 3 валиками, может по желанию также быть
            реализована в версии с двумя валиками (исполнение без верхнего
            валика).
        </p>
    </div>
</div>
