<section>
    <div class="footer__contact" id="contact">
        <div class="container">
            <div class="row">
                <div class="footer__description col-md-4">
                    <h2>О нас</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                    </p>
                    <a href="/#">Подробнее</a>
                </div>
                <div class="footer__telephone col-md-4">
                    <h2>Контакты</h2>
                    <ul>
                        <li>
                            <span>Позвоните:</span>
                            <span>+7 (926) 804 81 83</span>
                        </li>
                        <li>
                            <span>Напишите:</span>
                            <span>mail@mail.com</span>
                        </li>
                        <li>
                            <span>Приезжайте:</span>
                            <span>г. Городской, ул. Логистическая д. 1</span>
                        </li>
                    </ul>
                </div>
                <div class="footer__work-time col-md-4">
                    <h2>Рабочее время</h2>
                    <span>Круглосуточно — <strong>24/7</strong></span>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <span>Политика конфиденциальности</span>
            <span>© clean-track, 2021</span>
            <a href="/#">Наверх</a>
        </div>
    </div>
</section>
