<nav class="header__menu d-none d-md-block">
    <div class="container ">
        <div class="row col-12 ">
            <div class="header__menu-container  ">
                <a class="header__menu_item" href="/#">Главная</a>
                <a class="header__menu_item" href="#advantages">О нас</a>
                <a class="header__menu_item" href="#tariff">Услуги и цены</a>
                <a class="header__menu_item" href="#contact">Контакты</a>
            </div>
        </div>
    </div>
</nav>