.header{
    background-color: var(--main-bg-color);
    &__container{
        height: 60px;
    }
    &__logo picture {
        height: 100px;
    }
    &__social a{
        border: 1px solid white;
        padding: 5px 7px;
        border-radius: 50%;
    }
    &__mobile-menu{
        width: 60px !important;
        height: 60px;
        background-color: var(--main-color);
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 6px;
        justify-content: center;
        align-items: center;
        &_line{
            width: 22px;
            height: 2px;
            background-color: white;
        }
    }
    &__location, &__contact{
        font-size: 18px;
        a{
            font-weight: bold;
        }
        & >span{
            color: var(--second-font-color);
        }
    }
    
    &__menu{
        background-color: #07192dda;
        &-container{
            height: 54px;
            display: flex;
            justify-content: center;
            align-items: center;
            a:last-child{
                border-right: 1px solid #69778A;
            }
        }
        &_item{
            padding: 14px 50px;
            border-left: 1px solid #69778A;
        }
    }
    
}
.mobile-menu{
    a{
        font-size: 20px;
        display: block;
        margin-bottom: 20px;
    }
}

.header{
    @media (min-width: 768px) {
        background-color: var(--bg-header-opacity-color);
        &__container{
            height: 110px;
        }
    }
    @media (max-width: 767px) {
        &__container{
            margin-bottom: 20px;
        }
    }
}