<nav class="header__menu">
    <div class="header__menu_item">
        <a href="/#">Главная</a>
    </div>
    <div class="header__menu_item">
        <a href="/#">О нас</a>
    </div>
    <div class="header__menu_item">
        <a href="/#">Услуги и цены</a>
    </div>
    <div class="header__menu_item">
        <a href="/#">Контакты</a>
    </div>
</nav>