---
import "./main.scss"
---

<main class="main">
    <div class="container-md">
        <div class="row main__sub-title d-md-none col-12">
            <a href="/#">+7 926 804 81 83</a>
            <span>г. Городской, ул. Логистическая д. 1</span>
        </div>
        <div class="row main__title col-12">
            <h1>ВЫСОКОСКОРОСТНАЯ ПОРТАЛЬНАЯ МОЙКА АВТОМАТ</h1>
            <h2>Производства Германии</h2>
        </div>
        <div class="main__dots ">
            <div class="main__dots_line"></div>
            <div class="main__dots_item"></div>
            <div class="main__dots_item"></div>
            <div class="main__dots_item"></div>
            <div class="main__dots_line"></div>
        </div>
    </div>
</main>