<div class="row mx-auto justify-content-center align-center">
    <div class="tariff__img-block col-6 col-lg-3">
        <img src="/public/img/tariff/img1.png" alt="technic-img">
        <span>Автобусы</span>
    </div>
    <div class="tariff__img-block col-6 col-lg-3">
        <img  src="/public/img/tariff/img2.png" alt="technic-img">
        <span>Спецтехника</span>
    </div>
    <div class="tariff__img-block col-6 col-lg-3">
        <img  src="/public/img/tariff/img3.png" alt="technic-img">
        <span>Грузовики</span>
    </div>
    <div class="tariff__img-block col-6 col-lg-3">
        <img  src="/public/img/tariff/img4.png" alt="technic-img">
        <span>Тягачи</span>
    </div>
</div>